@tailwind base;
@tailwind components;
@tailwind utilities;zx

html,
body,
:root {
  height: 100%
}

:root {
  --foreground-rgb: 0, 0, 0;
}

/* @media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
  }
} */

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
